:root {
	--epaisseur-trait : 0px;
  }

@font-face {
	font-family: "segoe_print";
	src: url("polices/segoepr.ttf") format('truetype');
}
@font-face {
	font-family: "segoe_print_bold";
	src: url("polices/segoeprb.ttf") format('truetype');
}
@font-face {
	font-family: "typo_round_bold";
	src: url("polices/Typo_Round_Bold_Demo.otf") format('opentype');
}
.marge_haut_page {
	height: 20px;
}
body{
	user-select: none;
	font-family: 'segoe_print', sans-serif;
	margin: auto;
}
.resultat {
	color: black;
	font-family: 'segoe_print_bold', sans-serif;
	border:0px solid black;
	height:fit-content;	
}
#zoneSaisie {	
	display: none;
	font-family: 'typo_round_bold', sans-serif;
	margin: 0px;
	padding: 0px;
}
.soulignement {
	width:auto;
	margin: 0px; 
	padding: 0px;
	background-color: black;
	height: var(--epaisseur-trait);
}
#contenuDeroulant {
	display: none;
	position: absolute;
	background-color:rgb(182, 170, 140);
	border: 3px solid rgb(48,48,48);
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 1;
}
.optionDeroulante {
	margin: 0px;
	text-align: center;
	cursor: default;
}
.optionDeroulante:hover {
	color: rgb(153,252,213);
	background-color: rgb(104, 97, 78)
}
.texteSansBordure {
	font-family: 'typo_round_bold', sans-serif;
	outline: 0;
	border-width: 0;
}
/* input[type="text"]::first-line {
    background-color: gold;
} */